<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	   id="org.apache.cordova.push"
      version="0.0.1-dev">
    <name>Push</name>
    <description>Push Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,push</keywords>

    <dependency id="org.apache.cordova.serviceworker" url="https://github.com/MobileChromeApps/cordova-plugin-serviceworker.git" />
    <dependency id="com.phonegap.plugins.PushPlugin" url="https://github.com/phonegap-build/PushPlugin.git" />

    <js-module src="www/PushManager.js" name="PushManager">
	<clobbers target="PushManager" />
    </js-module>
    <js-module src="www/PushSubscription.js" name="PushSubscription">
	<clobbers target="PushSubscription" />
    </js-module>

    <!-- Assets for use by service worker -->
    <asset src="www/sw_assets/pushevent.js" target="sw_assets/pushevent.js" />
    <asset src="www/sw_assets/PushMessageDataAsset.js" target="sw_assets/PushMessageDataAsset.js" />

    <platform name="ios">
	<config-file target="config.xml" parent="/*">
	    <feature name="Push">
		<param name="ios-package" value="CDVPush" />
	    </feature>
	</config-file>
	<config-file target="*-Info.plist" parent="UIBackgroundModes">
	    <array>
		<string>remote-notification</string>
	    </array>
	</config-file>
	<header-file src="src/ios/CDVPush.h" />
	<source-file src="src/ios/CDVPush.m" />
    </platform>
</plugin>
